version: '3.1'

services:
  node:
    build:
      context: .
      args:
        - NODE_ENV=development
    # you can use standard debug config or expermintal node inspect
    command: node --debug=5858 ../node_modules/nodemon/bin/nodemon.js
    #command: node --inspect ../node_modules/nodemon/bin/nodemon.js
    ports:
      - "80:80"
      - "5858:5858"
      - "9229:9229"
    volumes:
      - .:/usr/src/app
    environment:
      - NODE_ENV=development

